version: "3.9"

services:
  frontend:
    build: ./frontend
    image: piyush6264/virtualized-webapp-frontend:latest
    ports:
      - "8888:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    image: piyush6264/virtualized-webapp-backend:latest
    ports:
      - "5001:5000"
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASS: password
      DB_NAME: webapp
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: webapp
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
